  .accommodation {
    width: 100%;
    position: relative;
    padding: 20px;
  }

  .content {
    width: 100%;
    position: relative;
  }

  .content .accomHeader {
    position: relative;
    border-radius: 20px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .accomHeader h2 {
    font-weight: 600;
    color: var(--blue);
  }
  .accomDetails{
    margin-top: 10px;
  }

  .accomDetails h4{
    font-weight: 200;
    color: var(--blue);
  }

  .accomDetails .detailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .detailsHeader .insideHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.breadcrumb {
    list-style: none;
  }

  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }

  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .content .accomDetails {
    position: relative;
    border-radius: 20px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);

  }

  .accomTable {
    position: relative;
    width: 100%;
  }

  .accomDetails table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }

  .accomDetails table thead td {
    font-weight: 600;
  }

  .accomDetails table tbody tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .accomDetails table tbody tr:last-child {
    border-bottom: none;
  }

  .accomDetails table tbody tr:hover {
    background-color: var(--blue);
    color: var(--white);
  }

  .accomDetails table tbody tr:hover a.btn {
    background-color: var(--white);
    color: var(--blue);
  }

  .accomDetails table  tr td {
    padding: 10px;
  }

  .accomDetails table tr td:last-child {
    text-align: start;
  }

  .accomDetails table tbody tr td select {
    background-color: var(--blue);
    color: var(--white);
    width: 100%;
    padding: 10px;
    border-radius: 6px;
  }

  .accomDetails table tbody tr:hover td select {
    background-color: var(--white);
    color: var(--blue);
  }

  .accomDetails .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
  }
  
  .accomDetails .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .accomDetails .pagination a.active {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
  }
  
  .accomDetails .pagination a:hover:not(.active) {
    background-color: var(--black2);
    color: var(--white);
    border-radius: 50%;
  }

  @media (max-width: 991px){

    .accomDetails {
      overflow-x: auto;
      margin-top: 10px;

    }

    .accomHeader .breadcrumb {
      display: none;
    }

    .accomDetails .detailsHeader h4 {
      display: none;
    }

    /* .detailsHeader .insideHeader {
      width: 100%;

    }

    .detailsHeader .insideHeader a {
      max-width: 100%;
      
    } */
  }

  @media (max-width: 768px){

    .accomHeader .breadcrumb {
      display: none;
    }
    .detailsHeader .insideHeader {
      width: 100%;
    }
/* 

    .detailsHeader .insideHeader {
      max-width: 70%;
      
    } */
 
  }



